*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.album{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding: 2vw;
}
.fotos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 6px solid rgb(54, 107, 177);
    box-shadow: 3px 3px 3px rgb(44, 146, 180);
    flex-grow: 1;
    transition: tranform 0.1s;
    cursor: url(img/cursorcat2.cur), default;

}
.fotos{
    width: 340px;
    height: 340px;
}
.fotos:hover{
    transform: scale(1.1);

}
header{
    background-color: rgb(36, 71, 70);
}
body{
    cursor: url(img/cursorcat.cur), default;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    background-color: rgb(43, 82, 80);
    background-repeat: no-repeat;
    background-size: contain 100%; 
    background-attachment: fixed;
}
img{
    justify-content: center;
    width: 500px;
    height: 260px;
}

h1{ 
    display: block;
    position: fixed;
    color: rgba(10, 211, 218, 0.904);
    text-shadow: 2px 2px 6px rgb(64, 170, 219);
    text-justify: auto;
    text-align: left;
    text-transform: uppercase;
    font-size: 20px;
}
hr{
    color: white;
}
h2{
    color: rgb(154, 236, 247);
    font-size: 30px;
    padding-left: 150px;
    padding-top: 40px;
}
footer{
    
    text-align: center;
    padding-right: 10px;
    background-color: aquamarine;
}